
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>HomeMotorista</title>
</head>
<body>
    <div class="container"> 
        <div class="row">
            <div class="col-md-8">
                Mapa Talvez
            </div>
            <div class="col-md-4">
                Interface de requisições
            </div>
        </div>
    </div>
</body>
</html>
