
@{
    ViewBag.Title = "HomeAdministrador";
    Layout = "~/Views/Shared/_LayoutSystemPage.cshtml";
}

<div class="container">
    <h2 class="text-center">Área de Usuários</h2>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <a href="@Url.Action("Index","Motoristas")">
                <img class="img-responsive" src="~/Content/Imagens/aprovacao-perfil.png" />
            </a>
        </div>
        <div class="col-md-4">

        </div>
        <div class="col-md-4">

        </div>
    </div>
</div>

