
@{
    ViewBag.Title = "Suporte";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h2 class="text-center">Suporte ao Sistema</h2>
    <div class="row">
        <div class="col-md-6">
            <h4 class="text-center">Dúvidas mais recentes</h4>
        </div>
        <div class="col-md-6 text-center">
            <h4>Envie sua dúvida</h4>
        </div>
    </div>
</div>
