@{
    ViewBag.Title = "Home Page";
}

<section class="header-site"></section>
<br />
<section class="content-site container">
    <div class="container">
        <div class="row">

        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="img-fluid text-center">
                    <img src="../../Content/Imagens/avaliacao.png">
                    <div class="figure-caption text-center font-descricao">
                        Avalie o serviçoo
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="img-fluid text-center">
                    <img src="../../Content/Imagens/place.png">
                    <div class="figure-caption text-center font-descricao">
                        Motoristas próximos de você
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="img-fluid text-center">
                    <img src="../../Content/Imagens/clock.png">
                    <div class="figure-caption text-center font-descricao">
                        Transporte de rápido e prático
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br />
    <hr />

    <h2 class="text-center">Descubra a facilidade em buscar serviços de fretes e carretos</h2>
    <br />
    <figure class="text-center img-fluid">
        <img src="~/Content/Imagens/img-programa.png" />
        <figcaption class="font-descricao">Imagem do Sistema</figcaption>
    </figure>
</section>

<section class="img-site">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 text-center">

                <iframe width="560" height="315" src="https://www.youtube.com/embed/UOxkGD8qRB4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <br /><br />

                <p class="lead text-center legendas">A Xogum Fretes é uma plataforma que promove o encontro entre Transportador e Cliente de forma rápida e fácil</p>
                <br />
                @*<a href="@Url.Action("Create","Usuarios")"class="btn-lg btn-success">
                    Cadastre-se
                </a>*@
            </div>
        </div>
    </div>
</section>
