@{
    ViewBag.Title = "Home Page";
}

<script type="text/javascript" src="https://js.api.here.com/v3/3.1/mapsjs-core.js"></script>
<script type="text/javascript" src="https://js.api.here.com/v3/3.1/mapsjs-service.js"></script>
<script type="text/javascript" src="https://js.api.here.com/v3/3.1/mapsjs-ui.js"></script>
<script type="text/javascript" src="https://js.api.here.com/v3/3.1/mapsjs-mapevents.js"></script>
<link rel="stylesheet" type="text/css"
      href="https://js.api.here.com/v3/3.1/mapsjs-ui.css" />

<section class="header-site"></section>
<br />
<section class="content-site container">
    <div class="container">
        <div class="row" style="margin-top:-2%">
            <div class="col-sm-4">
                <div class="img-fluid text-center">
                    <img src="../../Content/Imagens/avaliacao.png">
                    <div class="figure-caption text-center  legendas">
                        Avalie o serviço
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="img-fluid text-center">
                    <img src="../../Content/Imagens/place.png">
                    <div class="figure-caption text-center  legendas">
                        Motoristas próximos de você
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="img-fluid text-center">
                    <img src="../../Content/Imagens/clock.png">
                    <div class="figure-caption text-center legendas">
                        Transporte de rápido e prático
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br />
    <hr />

    <h2 id="sobre" class="text-center">Descubra a facilidade em buscar serviços de fretes e carretos</h2>
    <br />
    <figure class="text-center img-fluid">
        <img src="~/Content/Imagens/img-programa.png" />
        <figcaption class="font-descricao">Imagem do Sistema</figcaption>
    </figure>
</section>

<section class="img-site">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 text-center">
                <div id="mapContainer" style="width: 85vw; height: 60vh"></div>

                <!-- <iframe width="560" height="315" src="https://www.youtube.com/embed/UOxkGD8qRB4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>-->
                @*<script>
                    document.write("<div id='mapContainer' style='width: 80vw; height: 60vh'></div>");
                </script>*@

                <p class="lead text-center legendas">A Xogum Fretes é uma plataforma que promove o encontro entre Transportador e Cliente de forma rápida e fácil</p>
                <br />
                <a href="@Url.Action("TipoCadastro","Home")" class="btn-lg btn-success">
                    Cadastre-se
                </a>
            </div>
        </div>
    </div>
</section>
<script>
    // definição da chave da api para utilização
    var platform = new H.service.Platform({
        apikey: 'q_elI5myVl5U1fdw7ljnDng2unbifJRBGtOTChlKsFQ',
        useHTTPS: true,
        useCIT: true
    });

    // prepara a variavel de mapa para iniciar
    var defaultLayers = platform.createDefaultLayers();
    var mapContainer = document.getElementById('mapContainer');

    // inicializa um mapa padrão
    var map = new H.Map(mapContainer, defaultLayers.vector.normal.map, {
        zoom: 15,
        center: { lat: -22.786000, lng: -45.1711673 },
        pixelRatio: window.devicePixelRatio || 1
    });
    //var behavior = new H.mapevents.Behavior(new H.mapevents.MapEvents(map)); Gera interação no mapa (discutir a necessidade)
    // Gera icones padrões para o mapa exemplo
    var icon1 = new H.map.Icon("https://image.flaticon.com/icons/svg/226/226592.svg", { size: { w: 35, h: 35 } }),
        marker1 = new H.map.Marker({ lat: -22.782683999999997, lng: -45.178904999999996 }, { icon: icon1 });
    var icon2 = new H.map.Icon("https://image.flaticon.com/icons/svg/226/226592.svg", { size: { w: 35, h: 35 } }),
        marker2 = new H.map.Marker({ lat: -22.788683999999997, lng: -45.16904999999996 }, { icon: icon2 });
    var icon3 = new H.map.Icon("https://image.flaticon.com/icons/svg/226/226592.svg", { size: { w: 35, h: 35 } }),
        marker3 = new H.map.Marker({ lat: -22.782683999999997, lng: -45.188904999999996 }, { icon: icon3 });
    var icon4 = new H.map.Icon("https://image.flaticon.com/icons/svg/226/226592.svg", { size: { w: 35, h: 35 } }),
        marker4 = new H.map.Marker({ lat: -22.790683999999997, lng: -45.188904999999996 }, { icon: icon4 });
    marker5 = new H.map.Marker({ lat: -22.786000, lng: -45.1711673 });
    // Adiciona os marcadores coletados acima e os insere no mapa gerado
    map.addObject(marker1);
    map.addObject(marker2);
    map.addObject(marker3);
    map.addObject(marker4);
    map.addObject(marker5);
</script>