
@using (Html.BeginForm())
{

@Html.AntiForgeryToken()
<section class="img-site">
    <div class="container">

        <div class="col-md-4 col-md-offset-4">
            <form>
                <h2 class="text-center formulario-login">Login</h2>
                <br />
                <label class="col-md-offset-1 formulario-login">E-mail</label>
                <input type="email" id="email" value="" name="email" required="required" placeholder="Digite seu email" class="form-control col-md-offset-1" />
                <br />
                <label class="col-md-offset-1 formulario-login">Senha</label>
                <input type="password" required="required" placeholder="Digite sua senha" class="form-control col-md-offset-1" id="senha" value="" name="senha" />
                <br />
                <div class="text-center">
                    <button class="btn btn-primary" type="submit">Entrar</button>
                </div>
            </form>
            <br />
            <div class="text-center">
                <a href="@Url.Action("Email", "Home")" class="text-center texto-descricao-2">Esqueci a senha</a>
                <br /><br />
                <a href="@Url.Action("TipoCadastro", "Home")" class="text-center texto-descricao-2">Cadastre-se agora!</a>
            </div>
            <br/>
            @Html.ValidationSummary(true, "", new { @class = "col-md-offset-2 alert alert-danger text-center" })
        </div>
    </div>

</section>

}

