
@{
    ViewBag.Title = "TipoCadastro";
}

<div class="container">
    <h2 class="text-center">Como deseja atuar ?</h2>
    <div class="row espaco">

        <div class="col-md-4 col-md-offset-2">
            <div class="card text-center col-md-offset-1" style="width: 25rem;">
                <img src="~/Content/Imagens/mudanças.jpg" class="card-img-top img-responsive img-thumbnail" alt="...">
                <div class="card-body">
                    <h5 class="card-title legendas">Cliente</h5>
                    <p class="card-text">Se você deseja encontrar os motoristas de fretes mais perto de você de forma rápida, seu perfil é esse aqui!</p>
                    <a href="@Url.Action("Create","Usuarios")" class="btn btn-primary">Cadastre-se</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card text-center col-md-offset-3" style="width: 25rem;">
                <img src="~/Content/Imagens/perfil-motorista.jpg" class="card-img-top img-responsive img-thumbnail" alt="...">
                <div class="card-body">
                    <h5 class="card-title legendas text-center">Motorista</h5>
                    <p class="card-text text-center">Se você deseja encontrar pessoas que buscam serviços de fretes mais perto de você, seu perfil é esse aqui!</p>
                    <a href="@Url.Action("Cadastro","Motoristas")" class="btn btn-primary">Cadastre-se</a>
                </div>
            </div>
        </div>
    </div>

</div>